.titulo-cabecalho{
  background-color: gold;


}
}

.titulo-cabecalho{
    color: blue;
}

.tit-1-secao{
    background-color: darkgreen;
}

.tit-1-secao{
    color: azure;
}

    .p-tit-1{
        color: blue;
    }

    .tit-2-secao{
        background-color: gold;
    }

    .tit-2-secao{
        color: blue;
    }


    .item-1{
        color: blue;
    }

    .item-2{
        color: blue;
    }

.item-3{
    color: blue;
}

.item-4{
    color: blue;
}

.item-5{
    color: blue;
}
.item-6{
    color: blue;
}

.rodape{
    color: brown;
}

.tit-3-secao{
    color: darkgreen;
}

.rodape{
    background-color: cornsilk;
}

.titulo-cabecalho{
color: blue

}

body{
    background-color: cornsilk;
}